.permalink {
  font-size: 80%;
}

a {
  color: #b4b4ff;
}

body {
  background-color: #111;
  color: #dddddd;
  font-size : larger;
}
body div {
  margin: 2px;
  font-size: 95%;
}

#status {
  font-size : 95%;
}